<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 500px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>Bike Accidents Mapped</h3>
    <div id="map"></div>
    <script>

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: {lat: 51.5287718, lng: -0.2416817}
        });
        
        var labels = "ABCDEFGHIJKLMOPQRSTUVWXYZ";

        
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });

        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
      var locations = [ 
		    {lat: 51.518929, lng: -0.101061},
		    {lat: 51.516192, lng: -0.083735},
		    {lat: 51.511689, lng: -0.081618},
		    {lat: 51.514308, lng: -0.104424},
		    {lat: 51.519724, lng: -0.089064},
		    {lat: 51.512149, lng: -0.087796},
		    {lat: 51.514546, lng: -0.09692},
		    {lat: 51.52046, lng: -0.095664},
		    {lat: 51.516653, lng: -0.104903},
		    {lat: 51.513361, lng: -0.079386},
		    {lat: 51.514349, lng: -0.073868},
		    {lat: 51.512141, lng: -0.09284},
		    {lat: 51.517951, lng: -0.1073},
		    {lat: 51.513135, lng: -0.104184},
		    {lat: 51.518223, lng: -0.079758},
		    {lat: 51.517428, lng: -0.080656},
		    {lat: 51.510868, lng: -0.086408},
		    {lat: 51.513641, lng: -0.091048},
		    {lat: 51.515934, lng: -0.104933},
		    {lat: 51.514669, lng: -0.104553},
		    {lat: 51.510798, lng: -0.093185},
		    {lat: 51.514422, lng: -0.083809},
		    {lat: 51.517649, lng: -0.105294},
		    {lat: 51.5172, lng: -0.088737},
		    {lat: 51.511022, lng: -0.07934},
		    {lat: 51.511874, lng: -0.104093},
	      ]
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlL66lBf7uecfyVf-zb9lRIQNfQHRPltQ&callback=initMap">
    </script>
  </body>
</html>