<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 500px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>Bike Accidents Mapped</h3>
    <div id="map"></div>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlL66lBf7uecfyVf-zb9lRIQNfQHRPltQ&callback=initMap">
    </script>
    <script>

      function initMap() {

      	var locations = []

      	<% @incidents.each do |acc| %>
	     locations.push (
	        new google.maps.Marker({
            		position: {
	        			lat: <%= acc[:lat] %>, 
	        			lng: <%= acc[:lon] %>
	        		}
          	})
      	);
	    <% end %>
	      

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: {lat: 51.5287718, lng: -0.2416817}
        });
        

		var markerCluster = new MarkerClusterer(map, locations,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});    
      }
    </script>
  </body>
</html>