<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 500px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>Bike Accidents Mapped</h3>
    <div id="map"></div>
    <script>

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: {lat: 51.5287718, lng: -0.2416817}
        });
        

        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
      var locations = [];
      <& @incidents.each do |acc| &>
	      locations.push ( {latlng: new google.maps.LatLng(<&= @incidents[acc].lat %>, <&= @incidents[acc].lon %>)});
      <% end %>

      for(var i=0,i<locations.length;i++ ) {
      	var marker = new google.maps.Marker({position: locations[i].latlng, map:map})
      };

    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlL66lBf7uecfyVf-zb9lRIQNfQHRPltQ&callback=initMap">
    </script>
  </body>
</html>