#map {
    height: 500px;
    width: 100%;
}

#floating-panel {
    background-color: #fff;
    padding: 0.5px;
    border: 1px solid #999;
    margin: 0 auto;
    display: inline-block;
    font-family: 'Quicksand','sans-serif';
    line-height: 30px;
}

.controls {
    margin-top: 5px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input, #destination-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 0px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
}

#origin-input:focus, 
#destination-input:focus {
    border-color: #4d90fe;
}

body {
    background-image: url("/white-737190_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h2 {
    font-family: 'Quicksand','sans-serif';
    color: white;
}